<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StatusBarPebbleITSupport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA9382AE1C7242BB00DFE689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9382BD1C7242BB00DFE689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9382C81C7242BB00DFE689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
